.carousel-container{
    width: 100%;
    min-width: 850px;
    position: absolute;
    top: 70px;
    left: 0;
}
.carousel-items{
    float: left;
    width: 800px;
    height: 100%;
}
.carousel-items img{
    height: 100%;
}